* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Futura", Futura, Helvetica, Arial, sans-serif;
    font-size: 10px;
}

h2 {
    font-size: 1.6rem;
    text-align: center;
}

.pictureBox {
    position: relative;
    margin: 0 auto;
    width: 800px;
    height: 500px;
    background-color: #f56382;
    overflow: hidden;
}

/*section div {*/
    /*position: absolute;*/
/*}*/

/*.text {*/
    /*left: 300px;*/
    /*top: 475px;*/
    /*color: #ffffff;*/
    /*font-size: 2rem;*/
/*}*/

/*img {*/
    /*width: 100%;*/
    /*height: 100%;*/
/*}*/

.img1 {
    position: absolute;
    left: 0;
    width: 800px;
    height: 500px;
    background-image: url("../assets/summer1.jpg");
    background-size: contain;
    animation: slideOut 2s ease-in-out infinite;
}

.img2 {
    position: absolute;
    left: 0;
    width: 800px;
    height: 500px;
    background-image: url("../assets/autum2.jpg");
    background-size: contain;
    animation: slideIn 2s ease-in-out infinite;
}

/*.picture {*/
    /*visibility: hidden;*/
    /*position: absolute;*/
    /*left: 200px;*/
/*}*/

/*.visible {*/
    /*visibility: visible;*/
    /*animation: 2s slide;*/
/*}*/

/*.slide {*/
    /*animation: 2s slide;*/
/*}*/


[class|=button]  {
    position: absolute;
    top: 50%;
}

.button-left {
    left: 5%;
}

.button-right {
    right: 5%;
}

/*@keyframes slide {*/
/*0% { left: 0; }*/
/*100% {left: 750px;}*/
/*}*/

@keyframes slideOut {
    from { left: 0; }
    to { left: -500px; }
}

@keyframes slideIn {
    from { left: 500px; }
    to { left: 0; }
}
