* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Futura", Futura, Helvetica, Arial, sans-serif;
    font-size: 10px;
}

h2 {
    font-size: 1.6rem;
    text-align: center;
}

section {
    position: relative;
    margin: 0 auto;
    width: 50%;
}


[class|=button]  {
    font-family: "icomoon";
    font-size: 50px;
    position: absolute;
    z-index: 20;
    top: 50%;
}

[class|=button]:hover  {
    color: #ffffff;
    cursor: pointer;
}

.button-left {
    left: 5%;
}

.button-right {
    right: 5%;
}


.textContainer {
    overflow: auto;
    margin: 0 auto;
    background-color: yellow;
}

.text {
    font-size: 2rem;
    position: absolute;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    opacity: 0;
    transition: opacity 1s 0s ease;
    color: #000000;
}

.textVisible {
    opacity: 1;
    transition: opacity 2s 1s ease;
}

.pictureBox {
    position: relative;
    margin: 0 auto;
    width: 750px;
    height: 500px;
    overflow: hidden;
}

[class|=img] {
    position: absolute;
    left: 0;
    width: 750px;
    height: 500px;
    background-size: contain;
}

.img-1 {
    background-image: url("../assets/numbered/summer1-1n.jpg");
    z-index: 9;
}

.img-2 {
    background-image: url("../assets/numbered/autum2-2n.jpg");
}

.img-3 {
    background-image: url("../assets/numbered/winter3-3n.jpg");
}

.img-4 {
    background-image: url("../assets/numbered/spring4-4n.jpg");
}

.slideInLeft {
    animation: slideInLeft 2s ease-in-out;
    z-index: 20;
}

.slideOutLeft {
    animation: slideOutLeft 2s ease-in-out;
    z-index: 10;
}

.slideInRight {
    animation: slideInRight 2s ease-in-out;
    z-index: 20;
}

.slideOutRight {
    animation: slideOutRight 2s ease-in-out;
    z-index: 10;
}

@keyframes slideOutLeft {
    from { left: 0; }
    to { left: -750px; }
}

@keyframes slideInLeft {
    from { left: 750px; }
    to { left: 0; }
}

@keyframes slideInRight {
    from { left: -750px; }
    to { left: 0; }
}

@keyframes slideOutRight {
    from { left: 0; }
    to { left: 750px; }
}
